p {
  font-style: italic;
}

.classSelect {
  color: dodgerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

#idSelect {
  color: green;
  text-decoration: underline;
}
.s1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 16px;
  border: 1px solid gray;
  background-color: rgba(95, 158, 160, 1);
}
